.body-with-background {
    background-image: url('../img/bg-img.jpeg');
}

/* Login Div */
.login-div{
    margin: 40px auto;

}

/* Login Container */
.login-container{
    max-width: 350px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    display: flex;
    flex-direction: column;
    margin: 15vh auto auto;
}

.login-container form{
    display: flex;
    flex-direction: column;
}

.login-container input, .login-container button, .login-container{
    border-radius: 20px;
    border: 1px solid black;
    padding: 7px;
}

.login-container input, .login-container button{
    margin: 10px;
    font-size: 14px;
}

.login-container input{
    background-color: white;
    font-size: 16px;
}

.login-container input::placeholder{ 
    color: black;
    font-style: italic;
}

.login-container button{
    background-color: blue;
    color: white;
    margin: 20px;
}

.login-container h3{
    font-size: 30px;
}

.center-aligned{
    text-align: center;
}

hr{
    border: 1px solid black;
    margin: 10px auto;
    width:90%;
}