.sign-up-container{
    max-width: 550px;
    width: 85%;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 15vh auto auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.sign-up-container input, .sign-up-container button, .sign-up-container{
    border-radius: 20px;
    border: 1px solid black;
    padding: 7px;
}

.sign-up-container input, .sign-up-container button{
    margin: 10px;
    font-size: 14px;
}

.sign-up-container input{
    background-color:gray;
    font-size: 16px;
    color: white;
}

.sign-up-container button{
    background-color: blue;
    color: white;
    
}

.sign-up-heading{
    color: black;
    text-align: center;
    font-size: 30px;
}

.sign-up-container input::placeholder{ 
    color: white;
    font-style: italic;
}

.sign-up-container button{
    background-color: blue;
    color: white;
    margin: 20px;
}


.sign-up-container form{
    display: flex;
    flex-direction: column;
}
/* Blue and Purple Theme */