.body-with-background {
    background-image: url('../img/bg-img.jpeg');
}

.sign-up-container{
    max-width: 550px;
    width: 85%;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 15vh auto auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.sign-up-container input, .sign-up-container button, .sign-up-container{
    border-radius: 20px;
    border: 1px solid black;
    padding: 7px;
}

.sign-up-container input, .sign-up-container button{
    margin: 10px;
    font-size: 14px;
}

.sign-up-container input{
    font-size: 16px;
}

.sign-up-container button{
    background-color: blue;
    color: white;
    
}

.sign-up-heading{
    text-align: center;
    font-size: 30px;
}

.sign-up-container input::placeholder{ 
    color: black;
    font-style: italic;
}

.sign-up-container button{
    background-color: blue;
    color: white;
    margin: 20px;
}


.sign-up-container form{
    display: flex;
    flex-direction: column;
}

p{
    font-size: large;
    font-weight: 600;
}

hr{
    border: 1px solid black;
    margin: 10px auto;
    width:90%;
}